body {
  background: #FF8899
}
.container {
  background-color: #FFFFFF;
  margin-top: 50px;
  text-align: center;
  width: 1210px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  box-shadow: 2px 2px 20px
}
.plotarea, .header {
  border-radius: 7px;
  margin: auto;
  width: 1200px
}
.header {
  margin-bottom: 10px
}
.axis {
  font-size: 15px;
  font-weight: bold;
}
#xlabel {
  font-size: 20px;
  font-weight: bold;
}
#tooltip {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  visibility: hidden;
}
#legend {
  margin: auto;
  width: 520px;
  padding-left: 15px;
  margin-bottom: -10px
}
#legend-text {
  font-size: 18px;
  font-weight: bold;
}
